<p id="notice"><%= notice %></p>

<h1>Listing Razishes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @razishes.each do |razish| %>
      <tr>
        <td><%= link_to 'Show', razish %></td>
        <td><%= link_to 'Edit', edit_razish_path(razish) %></td>
        <td><%= link_to 'Destroy', razish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Razish', new_razish_path %>
